@charset "UTF-8";
@font-face { font-family: 'Roboto'; font-style: normal; font-weight: 300; src: url("../fonts/roboto-v20-cyrillic_latin-300.eot"); /* IE9 Compat Modes */ src: local("Roboto Light"), local("Roboto-Light"), url("../fonts/roboto-v20-cyrillic_latin-300.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v20-cyrillic_latin-300.woff2") format("woff2"), url("../fonts/roboto-v20-cyrillic_latin-300.woff") format("woff"), url("../fonts/roboto-v20-cyrillic_latin-300.ttf") format("truetype"), url("../fonts/roboto-v20-cyrillic_latin-300.svg#Roboto") format("svg"); /* Legacy iOS */ }

@font-face { font-family: 'Roboto'; font-style: normal; font-weight: 400; src: url("../fonts/roboto-v20-cyrillic_latin-regular.eot"); src: local("Roboto"), local("Roboto-Regular"), url("../fonts/roboto-v20-cyrillic_latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v20-cyrillic_latin-regular.woff2") format("woff2"), url("../fonts/roboto-v20-cyrillic_latin-regular.woff") format("woff"), url("../fonts/roboto-v20-cyrillic_latin-regular.ttf") format("truetype"), url("../fonts/roboto-v20-cyrillic_latin-regular.svg#Roboto") format("svg"); /* Legacy iOS */ }

@font-face { font-family: 'Roboto'; font-style: normal; font-weight: 500; src: url("../fonts/roboto-v20-cyrillic_latin-500.eot"); /* IE9 Compat Modes */ src: local("Roboto Medium"), local("Roboto-Medium"), url("../fonts/roboto-v20-cyrillic_latin-500.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v20-cyrillic_latin-500.woff2") format("woff2"), url("../fonts/roboto-v20-cyrillic_latin-500.woff") format("woff"), url("../fonts/roboto-v20-cyrillic_latin-500.ttf") format("truetype"), url("../fonts/roboto-v20-cyrillic_latin-500.svg#Roboto") format("svg"); /* Legacy iOS */ }

@font-face { font-family: 'Roboto'; font-style: normal; font-weight: 700; src: url("../fonts/roboto-v20-cyrillic_latin-700.eot"); /* IE9 Compat Modes */ src: local("Roboto Bold"), local("Roboto-Bold"), url("../fonts/roboto-v20-cyrillic_latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v20-cyrillic_latin-700.woff2") format("woff2"), url("../fonts/roboto-v20-cyrillic_latin-700.woff") format("woff"), url("../fonts/roboto-v20-cyrillic_latin-700.ttf") format("truetype"), url("../fonts/roboto-v20-cyrillic_latin-700.svg#Roboto") format("svg"); /* Legacy iOS */ }

/*Обнуление*/
* { padding: 0; margin: 0; border: 0; }

*, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

:focus, :active { outline: none; }

a:focus, a:active { outline: none; }

nav, footer, header, aside { display: block; }

html, body { height: 100%; width: 100%; font-size: 100%; line-height: 1; font-size: 14px; -ms-text-size-adjust: 100%; -moz-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; font-family: "Roboto", Arial, sans-serif; }

input, button, textarea { font-family: inherit; }

input::-ms-clear { display: none; }

button { cursor: pointer; }

button::-moz-focus-inner { padding: 0; border: 0; }

a, a:visited { text-decoration: none; }

a:hover { text-decoration: none; }

ul li { list-style: none; }

img { vertical-align: top; }

h1, h2, h3, h4, h5, h6 { font-size: inherit; font-weight: 400; }

.visually-hidden { position: absolute; clip: rect(0 0 0 0); width: 1px; height: 1px; margin: -1px; border-bottom: 1px; }

.wrapper { overflow: hidden; min-height: 100%; }

.container { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; max-width: 1775; width: 1240px; padding: 0px 10px; }

@media (max-width: 495px) { .container { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }
  .container .footer-panel__copyright { padding: 10px 0 10px 0; }
  .container .footer-panel__feedback { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-flow: column; flex-flow: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding: 10px 0 10px 0; } }

.header-panel { width: 100%; min-height: 75px; display: -webkit-box; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -ms-flex-wrap: wrap; flex-wrap: wrap; background-color: #1A202E; }

.header-panel__heading { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin: 0 0 0 3.5%; }

.header-panel__search { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin: 0 2.7% 0 0; }

@media (max-width: 530px) { .header-panel__heading { display: -webkit-box; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; margin: 0 auto; width: 100%; height: 100%; padding: 20px 0 10px 0; }
  .header-panel__search { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -ms-flex-wrap: wrap; flex-wrap: wrap; margin: 0 auto; padding: 10px 0 20px 0; } }

.heading-links { color: #fff; font-size: 30px; }

.inp-form-search { width: 300px; min-height: 30px; border-radius: 20px; font-size: 15px; padding: 0 0 0 40px; color: #000; background-color: #fff; vertical-align: baseline; cursor: pointer; background-image: url("../img/icon-svg/search-icon.svg"); background-repeat: no-repeat; background-size: 15% 85%; }

.main { display: -webkit-box; display: -ms-flexbox; display: flex; }

.sidebar-btn { display: none; width: 30px; height: 30px; background-color: #ff0000; position: relative; left: 0px; top: 0; border-radius: 20px; font-size: 15px; color: #fff; }

.sidebar-active { -webkit-transform: translateX(0%); -ms-transform: translateX(0%); transform: translateX(0%); }

@media (max-width: 1030px) { .sidebar { position: fixed; top: 0; left: 0; width: 300px; height: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; background-color: #656565; overflow: hidden; -webkit-transition: 1s ease; -o-transition: 1s ease; transition: 1s ease; -webkit-transform: translateX(-100%); -ms-transform: translateX(-100%); transform: translateX(-100%); }
  .sidebar-btn { display: block; } }

.sidebar { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; overflow: hidden; -webkit-box-flex: 0; -ms-flex: 0 0 20.4%; flex: 0 0 20.4%; min-height: 1600px; background-color: #1A202E; }

.user__widget { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; min-height: 259px; width: 100%; background-color: #1F2638; }

.login-registration { padding: 9.5px 19px; background-color: #F94919; border-radius: 20px; font-size: 15px; line-height: 18px; font-weight: 300; color: #fff; }

.login-registration:hover { background-color: #c92800; -webkit-transition: all .5s ease; -o-transition: all .5s ease; transition: all .5s ease; }

.login-registration:active { background-color: #ff0000; -webkit-transition: all .3s ease; -o-transition: all .3s ease; transition: all .3s ease; color: #e6e6e6; }

.popular-book__widget { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; width: 100%; min-height: 525px; background-color: #1F2638; margin: 10px 0 0 0; }

.popular-book .popular-book-box { position: relative; }

.popular-book__title { border-bottom: 1.5px solid #1A202E; font-family: "Roboto", Arial, sans-serif; color: #fff; font-size: 15px; line-height: 18px; padding: 12px 0 11px 30px; }

.popular-book__list { margin: 10px 0 0 10px; }

.book-item { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; margin: 0 0 30px 0; }

.book-item:nth-child(3) { margin: 0 0 26px 0; }

.book-desc { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; padding: 0 10px 0 10px; }

.book-genre__litRpg { font-family: "Roboto", Arial, sans-serif; color: #bfbfbf; font-size: 13px; line-height: 15px; }

.popular-book-box { background-image: url("../img/icon-svg/orange-ellipse.svg"); background-repeat: no-repeat; background-position: 11px center; }

.autor-nick { font-family: "Roboto", Arial, sans-serif; color: #fff; font-size: 13px; line-height: 15px; font-weight: 300; }

.book-title { font-family: "Roboto", Arial, sans-serif; color: #fff; font-size: 13px; line-height: 15px; font-weight: 500; }

.book-rating { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; }

.star-rating { position: relative; display: inline-block; width: 23px; height: 23px; }

.star { content: ""; position: absolute; display: block; background-image: url("../img/icon-svg/star-icon.svg"); background-repeat: no-repeat; background-size: 23px 23px; width: 23px; height: 23px; }

.editors-choice__widget { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; width: 100%; min-height: 525px; background-color: #1F2638; margin: 10px 0 0 0; }

.editors-choice__title { border-bottom: 1.5px solid #1A202E; font-family: "Roboto", Arial, sans-serif; color: #fff; font-size: 15px; line-height: 18px; padding: 12px 0 11px 30px; }

.editors-choice__list { margin: 10px 0 0 10px; }

.editors-book-box { background-image: url("../img/icon-svg/red-ellipse.svg"); background-repeat: no-repeat; background-position: 11px center; }

.last-comments__widget { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; overflow: hidden; width: 100%; min-height: 259px; background-color: #1F2638; margin: 10px 0 0 0; }

.last-comments__title { border-bottom: 1.5px solid #1A202E; font-family: "Roboto", Arial, sans-serif; color: #fff; font-size: 15px; line-height: 18px; padding: 12px 0 11px 30px; }

.last-comments-box { background-image: url("../img/icon-svg/green-ellipse.svg"); background-repeat: no-repeat; background-position: 11px center; }

.comment-item { padding: 3.5px 5px 1.6px 5px; border-bottom: 1px solid #1A202E; }

.comment-item:last-child { border-bottom: none; padding: 3.5px 5px 10px 5px; }

.comment-item:hover { background-color: #252E47; -webkit-transition: all .5s ease; -o-transition: all .5s ease; transition: all .5s ease; }

.last-comment-link { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.text-autor-book { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

.autor-initials { font-family: "Roboto", Arial, sans-serif; color: #bfbfbf; font-size: 13px; line-height: 15px; }

.comment-book-title { font-family: "Roboto", Arial, sans-serif; color: #fff; font-size: 13px; line-height: 15px; font-weight: 300; }

.total-comments { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; }

.time-comment { font-family: "Roboto", Arial, sans-serif; color: #bfbfbf; font-size: 13px; line-height: 15px; }

.item-comment { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; overflow: hidden; }

.item-comment .prime-comments { font-family: "Roboto", Arial, sans-serif; color: #fff; font-size: 13px; line-height: 15px; }

.item-comment .our-comments { font-family: "Roboto", Arial, sans-serif; color: #fff; font-size: 13px; line-height: 15px; }

.book-content { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-flex: 1; -ms-flex: 1 1 auto; flex: 1 1 auto; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

.book-content__filter { width: 100%; border-bottom: 1px solid #000; }

.book-content__library { width: 100%; height: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-wrap: wrap; flex-wrap: wrap; background-color: #EEF1F8; }

.catalog-book { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; padding: 35px 35px 0 35px; }

@media (max-width: 360px) { .catalog-book { padding: 35px 0px 0 0px; } }

@media (max-width: 375px) { .catalog-book { padding: 35px 0px 0 0px; } }

@media (max-width: 398px) { .catalog-book { padding: 35px 0px 0 0px; } }

.book-card-li { position: relative; padding: 3px; border: 1px solid #eaeaea; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -ms-flex-wrap: wrap; flex-wrap: wrap; margin: 0 2% 3% 0; }

.book-card-li:hover, .book-card-li:focus-within { -webkit-box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5); box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5); -webkit-transition: all .3s ease; -o-transition: all .3s ease; transition: all .3s ease; }

.book-card-li::last-child { margin: 0 0 0 0; }

.book-card-li .annotation-book { display: none; }

@media (max-width: 360px) { .book-card-li { margin: 0 5% 3% 0; } }

@media (max-width: 375px) { .book-card-li { margin: 0 4% 3% 0; } }

@media (max-width: 398px) { .book-card-li { margin: 0 4% 3% 0; } }

@media (max-width: 400px) { .book-card-li { margin: 0 5% 3% 0; } }

@media (max-width: 414px) { .book-card-li { margin: 0 5% 3% 0; } }

.book-card-li:hover .annotation-book, .book-card-li:focus-within .annotation-book { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-transition: all .4s ease; -o-transition: all .4s ease; transition: all .4s ease; background-color: #EEF1F8; }

.annotation-book { position: absolute; text-align: center; -ms-flex-wrap: wrap; flex-wrap: wrap; width: 146px; height: 200px; top: 20px; left: 0; z-index: 10; }

.annotation-book .annotation-text { font-family: "Roboto", Arial, sans-serif; font-size: 11.5px; color: #424242; line-height: 13px; padding: 2px 2px 0 3px; }

.personal-book-rating { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; padding: 0 0 5px 0; }

.personal-book-rating-li { position: relative; display: inline-block; width: 18px; height: 18px; }

.star-rating-content { content: ""; position: absolute; display: block; background-image: url("../img/icon-svg/star-icon.svg"); background-repeat: no-repeat; background-size: 18px 18px; width: 18px; height: 18px; }

.title-and-autor { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; text-align: center; }

.title-link { padding: 4px 0 4px 0; }

.title-link .title-book { font-family: "Roboto", Arial, sans-serif; color: #4B8091; font-size: 14px; line-height: 16px; font-weight: 300; }

.autor-book-link .title-autor { font-family: "Roboto", Arial, sans-serif; color: #000; font-size: 14px; line-height: 16px; font-weight: 300; }

.filter-control-form { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding: 21px 0 25px 30px; background-color: #E7E9ED; }

@media (max-width: 360px) { .filter-control-form { padding: 21px 0 25px 0px; } }

@media (max-width: 414px) { .filter-control-form { padding: 21px 0 25px 0px; } }

@media (max-width: 415px) { .filter-control-form { padding: 21px 0 25px 0px; } }

.primary-filter-control { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; }

@media (max-width: 360px) { .primary-filter-control { padding: 0 0 0 20px; } }

@media (max-width: 414px) { .primary-filter-control { padding: 0 0 0 20px; } }

.general-style-select { display: block; background: none; border: 1px solid #ccc; border-radius: 10px; -webkit-appearance: none; -moz-appearance: none; appearance: none; font-family: inherit; font-size: 14px; line-height: 18px; color: #000; font-weight: 300; }

.genre-control-box { margin: 0 15px 15px 0; }

.published-control-box { margin: 0 15px 0 0; }

.status-control-box { margin: 0 15px 15px 0; }

.genre-control { padding: 8px 60px 8px 10px; }

.published-control { padding: 8px 20px 8px 10px; }

.status-control { padding: 8px 15px 8px 10px; }

.btn-more-sittings { position: relative; margin: 0 50px 0 0; }

.btn-more-sittings::before { content: ""; position: absolute; background-image: url("../img/icon-svg/settings-search.svg"); background-repeat: no-repeat; background-size: 30px 30px; width: 30px; height: 30px; top: -14px; right: -10px; }

@media (max-width: 375px) { .btn-more-sittings::before { top: 38px; right: -5px; margin: 0 0 0 0; } }

@media (max-width: 405px) { .btn-more-sittings::before { top: 38px; right: 25px; margin: 0 0 0 0; } }

@media (max-width: 360px) { .btn-more-sittings { top: 37px; right: -20px; margin: 0 0 0 0; } }

@media (max-width: 375px) { .btn-more-sittings { top: 23px; right: 55px; margin: 0 0 0 0; } }

@media (max-width: 398px) { .btn-more-sittings { top: 23px; right: 35px; margin: 0 0 0 0; } }

@media (max-width: 400px) { .btn-more-sittings { top: 23px; right: 35px; margin: 0 0 0 0; } }

@media (max-width: 414px) { .btn-more-sittings { top: -27px; right: 35px; margin: 0 0 0 0; } }

.title-result { width: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding: 18px 0 22px 33px; background-color: #EEF1F8; }

.caption-about-result { font-family: "Roboto", Arial, sans-serif; font-size: 25px; line-height: 29px; color: #000; }

.subtitle-found-books { font-family: "Roboto", Arial, sans-serif; font-weight: 300; font-size: 15px; line-height: 18px; color: #000; padding: 7px 0 0 0; }

.pagination-books { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin: 30px 0 30px 0px; }

.pagination-books .pagination-link { font-family: "Roboto", Arial, sans-serif; font-size: 20px; line-height: 23px; color: #000; padding: 8px 14px; border: 1px solid #656565; background-color: #E2E5EC; font-weight: 300; }

.pagination-books .pagination-link:hover { background-color: #41495e56; color: #000; -webkit-transition: all .3s ease; -o-transition: all .3s ease; transition: all .3s ease; }

@media (max-width: 360px) { .pagination-books .pagination-link { font-size: 14px; padding: 5px 10px; } }

@media (max-width: 375px) { .pagination-books .pagination-link { font-size: 15px; padding: 6px 12px; } }

@media (max-width: 414px) { .pagination-books .pagination-link { font-size: 15px; padding: 6px 12px; } }

@media (max-width: 460px) { .pagination-books .pagination-link { font-size: 15px; padding: 6px 12px; } }

.pagination-books .pagination-link-active { font-family: "Roboto", Arial, sans-serif; font-size: 20px; line-height: 23px; color: #fff; padding: 8px 14px; border: 1px solid #656565; background-color: #53576cc4; font-weight: 300; }

.pagination-books .pagination-link-active:hover { background-color: #838591c4; -webkit-transition: all .3s ease; -o-transition: all .3s ease; transition: all .3s ease; }

@media (max-width: 360px) { .pagination-books .pagination-link-active { font-size: 14px; padding: 5px 10px; } }

@media (max-width: 375px) { .pagination-books .pagination-link-active { font-size: 15px; padding: 6px 12px; } }

@media (max-width: 414px) { .pagination-books .pagination-link-active { font-size: 15px; padding: 6px 12px; } }

@media (max-width: 460px) { .pagination-books .pagination-link-active { font-size: 15px; padding: 6px 12px; } }

.footer { width: 100%; min-height: 100px; background-color: #1A202E; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.footer-panel__copyright { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.copyright-text { font-family: "Roboto", Arial, sans-serif; font-weight: 300; font-size: 13px; line-height: 18px; color: #fff; }

.footer-panel__social { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.footer-social { position: relative; display: inline-block; vertical-align: middle; width: 50px; height: 50px; text-align: center; }

.footer-social-icon__facebook { content: ""; position: absolute; display: block; background-image: url("../img/icon-svg/fb-icon.svg"); background-repeat: no-repeat; background-size: 50px 50px; width: 50px; height: 50px; }

.footer-social-icon__facebook:hover { background-image: url("../img/icon-svg/fb-hover-icon.svg"); -webkit-transition: all .5s ease; -o-transition: all .5s ease; transition: all .5s ease; }

.footer-social-icon__telegram { content: ""; position: absolute; display: block; background-image: url("../img/icon-svg/telegram-icon.svg"); background-repeat: no-repeat; background-size: 50px 50px; width: 50px; height: 50px; }

.footer-social-icon__telegram:hover { background-image: url("../img/icon-svg/telegram-hover-icon.svg"); -webkit-transition: all .5s ease; -o-transition: all .5s ease; transition: all .5s ease; }

.footer-social-icon__vk { content: ""; position: absolute; display: block; background-image: url("../img/icon-svg/vk-icon.svg"); background-repeat: no-repeat; background-size: 50px 50px; width: 50px; height: 50px; }

.footer-social-icon__vk:hover { background-image: url("../img/icon-svg/vk-hover-icon.svg"); -webkit-transition: all .5s ease; -o-transition: all .5s ease; transition: all .5s ease; }

.footer-panel__feedback { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-flow: column; flex-flow: column; -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; }

.feedback-text { font-family: "Roboto", Arial, sans-serif; font-weight: 300; font-size: 13px; line-height: 18px; color: #fff; }

.feedback-mail { font-family: "Roboto", Arial, sans-serif; font-size: 13px; font-weight: 300; line-height: 18px; color: #B0B0B0; }
